@font-face {
    font-family: 'as_grammatika-light';
    src: url('as_grammatika-light-webfont.woff2') format('woff2'),
         url('as_grammatika-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}

.navContainer {
    margin: 0 auto;
    width: 95%;
    color: transparent;
    display: flex;
    justify-content: space-between;
}


.navLogo img {
    display:inline-block;
    width: 70px;
    margin-top: 20px;
}

.links ul li {
    display:inline-block;
    float: left;
    list-style-type: none;
    margin-left:20px;
    padding-top: 20px;
}

.links ul li a {
    text-decoration: none;
    font-size: 1.02em;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}

/* DOES NOT WORK
.links ul li a.active {
    text-decoration: underline;
}  */

.topPage {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
}

.topPage .carousel {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}

.carousel-item img {
    max-width: 100%;
    max-height: 100%;
}

.contentContainer * {
    color: #fff;
    text-align: left;
}

.contentContainer {
    z-index: 3;
    width: 40%;
    position: absolute;
    top: 40vh;
    left: 20vh;
}

.contentContainer h1 {
    text-transform: uppercase;
    font-family: 'Alegreya Sans', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    /* font-weight: lighter; */
    font-size: 5em;
    margin-bottom: 20px;
}

.contentContainer h6 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 150%;
    margin-top: 0;
}

.aboutPage {
    background-image: url(../img/bg-about.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
}

.containerPageTwo {
    width: 70%;
    text-align: center;
    margin: auto;
}

.containerPageTwo h3 {
    /* font-family: 'Raleway', sans-serif; */
    font-size: 1.7em;
    font-weight: bold;
}

.containerPageTwo p {
    /* font-family: 'Raleway', sans-serif; */
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 140%;
    margin-top: 30px;
}

.videoPage {
    height: 600px;
}

.servicePage {
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    display: inline-block;
}

.contianerPageThree {
    width: 95%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.blockContent {
    width: 30%;
    font-family: 'Raleway', sans-serif;
    line-height: 170%;
}

.boldUnderline {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-decoration: underline;
    margin-right: 5px;
}

.containerDNA {
    width: 40%;
    margin-top: 50px;
    margin-left: 60%;
}

.containerDNA p {
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: light;
    font-style: italic;
    letter-spacing: 2px;
    line-height: 160%;
}


.foot {
    display: flex;
    background-color: black;
    width: 100%;
    height: 400px;
    margin: 0;
}

.foot * {
    color: #fff;
}

.containerFoot {
    width: 30%;
    margin: auto;
    text-align: center;
}

.footLogo img {
    width: 120px;
}

.copyRight {
    margin: 40px auto;
}

.copyRight * {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}


.contactLink i {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.contactTopPage {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../img/1.jpg);
    background-size: cover;
    display: flex;
    text-align: center;
}

.contactContainer h1 {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 4em;
    margin-bottom: 20px;
}

.contactContainer {
    margin: 35vh auto;
}

.contactTextContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.contactText {
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
}

.contactText h6 {
    font-weight: 100;
}

.contactPageLink i {
    color: #fff;
    font-size: 26px;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
}
.inverseNav .links ul li a {
    color: #000;
}

.workContainer {
    width: 95%;
    margin: 150px auto;
    display: flex;
    justify-content: space-between;
}

.workVertialNav {
    width: 20%;
}
 
.workVertialNav ul {
    padding: 0;
}

.workVertialNav *{
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    color: #7c7c7c;
    font-size: 14px;
    line-height: 250%;
}

.workVertialNav *:hover {
    color: #000;
    text-decoration: none;
}

/* DOES NOT WORK
.workVertialNavu ul li a:active {
    color: #000;
} */

.campaignsContainer {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.columnCampaigns {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.columnCampaigns img{
    margin-bottom: 20px;
}

.italic {
    font-style: italic;
}


/* <!-- case page --> */

.caseOverlay {
    position: absolute; 
    width: 100%; 
    height: 55vh; 
    top: 0; 
    left: 0;
    background-color: rgba(0,0,0,0.6); 
    z-index: 1;
}
.caseSection {
    height: 55vh;
    width: 100%;
}
.caseBannerContainer {
    width: 80%;
    margin: 0 auto;
}

.caseBanner{
    width: 100%;
    height: 55vh;
    background-repeat: no-repeat;
    background-size:2000px 100%;
    background-position-x: -300px;
    display: flex;
}

.caseBannerContainer {
    align-self: center;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 15vh;
    justify-content:space-between;
    z-index: 3;
}

.casePortrait {
    width: 15%;
}
.casePortrait img {
    width: 100%;
    height: auto;
    border: 5px solid #fff;
}
.caseTitle {
    width: 80%;
}

.caseTitle h2 {
    color: #fff;
    font-family: Arial,sans-serif;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.caseTitle h4 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-top: 26px;
    line-height: 1.5;
}

.caseCarousel {
    width: 100%;
    height: 80vh;
    background-color: #fff;
    display: flex;
}

.caseCarouselContent {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
}

.caseCaroText {
    width: 40%;
}

.caseCaroText * {
    color: #666666;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

.caseCarouselSection {
    width: 50%;
}

.imgContainerItem .carousel-inner {
    height: 50vh;
}

.carouselExampleIndicators {
    height: 50vh;
}


.casePortfolio {
    width: 100%;
    height: 65vh;
    background-color: rgba(78, 38, 85, 0.1);
    margin: 0;
    display: block;
}

.casePortfolioContent {
    width: 80%;
    margin: 0 auto;
}

.casePortTitle h2{
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 40px;
    color: #390e45;
    font-size: 24px;
    letter-spacing: 0.1em;
}

.casePortImgContainer {
    height: 30vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.imgContainerItem {
    width: 30%;
    position: relative;
    overflow: hidden;
}
.casePortImg {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 230px;
    overflow: hidden;
    transition: .2s;
}

.casePortImg img {
    width: 100%;
    height: 100%;
    transition: .2s;
}

.caseImgOverlay {
    background-color: rgba(78, 38, 85, 0.404);
    position: absolute; 
    z-index: 2;
    width: 100%;
    height: 230px;
    transition: .2s;
}

.caseImgOverlay:hover {
    opacity: 0;
}

.imgContainerItem:hover .casePortImg {
    transform: scale(1.1);
}
